
body{
  margin: 0;
  .roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  }
}
   
section{
  margin: 50px;
  padding: 50px;
  color: black;
  border-radius: 25px;
  background-color: #7c7f81;
}

.button {
  border: 0;
  color: #535f69;
  padding: 10px;
}

.button:hover {
  cursor: pointer;
  color: #ffffffaf;
  background-color: #8697a6;
}


