form {
    width: 400px;
    padding: 20px;
    margin: 50px;
    margin: 100px auto;
    border-radius: 15px;
    background-color:#c8dbec;
}  

form fieldset {
    border: 0;
    

}

form fieldset label {
    display: block;
}

form fieldset input, textarea {
    width: 100%;
}