main{
    text-align: center;
    display: flex;
    
}
.item-portfolio{
    display: inline;
     margin: 100px;
    border: 1px solid #8697a6 ;
 }
.item-portfolio a {
   text-decoration: none;
}


body main img{
    height: 250px;
    
}
